*{
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*--Estilos del body --*/
body{
       /* display: flex;*/
        background: rgba(0,0, 0, 0.1);
        min-width: 200px;
        display: flex;
        background: rgba(0,0, 0, 0.1);
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        height: 20rem;
 }
/*---------------------------------Final -----------------------------------*/

/*--Estilos del contenedor principal--*/
.flex-container{
        margin-top: 0.2rem;
        background: rgb(241, 241, 241);
        display: flex;
        flex-flow: column nowrap;
        width: 98%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
        min-height: 280px;
}
/*---------------------------------Final -----------------------------------*/

/* Estilos del header y  titulo Precio Fotocopias */
.flex-item__titulo-principal{
        background: rgb(255, 253, 253);
        font-family: 'PT Sans Narrow', sans-serif;
        color: black;
        display:flex;
        justify-content:space-between;
        align-items: center;  
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
      
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del contenedor principal Label que contiene todo los datos--*/
.flex-container__label{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 1rem;
      /*   background-color: red; */
        padding: 2em 0;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos de las principales opciones de la pagina como cantidad de hojas,numero de juegos,anillado,hoja a4 oficio--*/
.estilo-de-contenido-imput-option-label{
        height: 3em;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del output que muestra el precio final --*/
output{
        text-align: center;

}
/*---------------------------------Final -----------------------------------*/

/*--Estilos a las letras que dicen precio por hoja y al anillado--*/
.estilos-pecio-por-hoja{
        display: flex;
        align-items: center; 
        color:#000000;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin-right: 1rem;
        padding: 0 1em;
}
/*---------------------------------Final -----------------------------------*/

/*--Separacion del check anillado con respecto al texto--*/
.activar-anillado-margen{
        margin-right: 0.5rem;
}
/*---------------------------------Final -----------------------------------*/

/*Resultado en numero*/

/*--Tamaño de fuente que tiene el numero que aparece en pantalla--*/
.precio_final{

           font-size: 2.5em;          
}
/*---------------------------------Final -----------------------------------*/

/*Estilos que tiene el texto precio final que aparece en pantalla*/
.precioFinal{
        color: rgb(245, 239, 239);
        background-color: #000000;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        font-family: 'PT Sans Narrow', sans-serif;
        padding: 0px;
        margin: 0px;
        margin-bottom: 0.1em;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del logo mancux2--*/
.estilos_logo{

        margin: 0  1rem;
        opacity: 0.8;
}
.estilos_logo:hover{
         
        opacity: 1;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos de los link a que se encuentran dentro del logo Mancux2--*/
.estilos_equiqueta_a{
        margin: 0;
        padding: 0;
}
/*---------------------------------Final -----------------------------------*/

/*--Seccion de estilos del logo de asterisco rojo-------------------*/


/*--Estilos del contenedor principal de logo asterisco--*/
/*.logoinfo{
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
        position: relative;
}*/
/*---------------------------------Final -----------------------------------*/


/*--Estilos y colores del logo asterisco --*/
/*.logo_ayuda{
        margin-top: -1.2rem;
        margin-left: 99%;
        color: red;
        font-size: 30px;
        opacity: 0.5;
        position: absolute;
        transition: 0.2s;
        padding-bottom: 0;
        padding-left: 0;
}

.logo_ayuda::before{
        content: "*";
}
.logo_ayuda:hover{
        color: rgb(240, 0, 0);
        opacity: 1;
        transform: scale(1.5);
        transition: 0.2s;
}*/
/*---------------------------------Final -----------------------------------*/

/*--Estilos del boton carrito de compras--*/
.boton_carrito_compras{
        margin: 0;
        padding: 0 1em;
        left: 0.4rem;
        top: 0.2rem;
        width: 10rem;
        height: 2rem;
        text-align: center;
        position: relative;
        color:#fff;
        font-weight:bold;
        background-color: #000000;
        border: none;
        border-radius: 1em;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
        cursor:pointer;

}
.boton_carrito_compras:hover{
        background-color: #4494da;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del contenedor principal del carrito de compras--*/
.contenedor-principal-tabla-copias{

        display: flex;
        background-color: rgb(241, 241, 241);
      /*   box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 15%); */
        width: 98%;
        justify-content: center;  
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del contenedor que contiene la tabla del carrito de compras--*/
.estilos-tabla{
        background-color: rgb(241, 241, 241);
        width: 98%;
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos de las letras del carrito de compras--*/
tr{     
        color: black;
        display: flex;
        width: 100%;
        border-bottom:1px solid #cacaca;
        padding: 1rem 1rem;
        justify-content: space-between;
        margin-top: 0.3rem;
}
/*---------------------------------Final -----------------------------------*/

@media (max-width: 500px){
        
        .flex-container{
               /*  background-color: #4494da; */
                display: flex;
                flex-direction:column;
                min-width: 333px;       
        }
        /*--Estilos del contenedor  de los label--*/
        .flex-container__label{
                display: flex;
                flex-direction: column;
              /*   background-color:green; */
                align-content:center;
                margin-top: 0.5em;
                width: 100%;
                margin-left: 0;
        }
/*---------------------------------Final -----------------------------------*/

        /*--Estilos de contenedor de hoja A4 y Modo de impresion --*/
        .estilo-de-contenido-imput-option-label{
                margin-top: 0.5em;
                margin-bottom: 1em;
                height: 4rem;
                border-radius: 2em;
                color:#000000;
                width: 80%;
                font-weight: bold;
                text-align: center;
        }
/*---------------------------------Final -----------------------------------*/

        /*--Estilos de el contenedor de precio or hoja y Anillado--*/
        .estilos-pecio-por-hoja{
                display: flex;
                color: #000000;
                font-weight: bold;
                background-color: #4494da;
                justify-content: center;
                margin: 0.5em auto;
        }
/*---------------------------------Final -----------------------------------*/
        /*--Estilos de la palabra Precio final--*/
        .precioFinal{
                color:#fff;
                font-weight: bold;
                background-color:#1a1a1a;
        }
/*---------------------------------Final -----------------------------------*/
}

@media (min-width: 500px) and (max-width: 870px)  {
        
        body{
                background-color: #000000;
        }

        .flex-container{
                /*  background-color: #4494da; */
                 display: flex;
                 flex-direction:column;
                 min-width: 333px;       
         }
         /*--Estilos del contenedor  de los label--*/
         .flex-container__label{
                 display: flex;
                 flex-direction: column;
               /*   background-color:green; */
                 align-content:center;
                 margin-top: 0.5em;
                 width: 100%;
                 margin-left: 0;
         }
 /*---------------------------------Final -----------------------------------*/
 
         /*--Estilos de contenedor de hoja A4 y Modo de impresion --*/
         .estilo-de-contenido-imput-option-label{
                 margin-top: 0.5em;
                 margin-bottom: 1em;
                 height: 4rem;
                 border-radius: 2em;
                 color:#000000;
                 width: 80%;
                 font-weight: bold;
                 text-align: center;
         }
 /*---------------------------------Final -----------------------------------*/
 
         /*--Estilos de el contenedor de precio por hoja y Anillado--*/
         .estilos-pecio-por-hoja{
                 display: flex;
                 color: #000000;
                 font-weight: bold;
                 background-color: #4494da;
                 justify-content: center;
                 margin: 0.5em auto;
         }
 /*---------------------------------Final -----------------------------------*/
         /*--Estilos de la palabra Precio final--*/
         .precioFinal{
                 color:#fff;
                 font-weight: bold;
                 background-color:#1a1a1a;
         }
 /*---------------------------------Final -----------------------------------*/
        
}