*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*--Estilos del body --*/
body{
        display: flex;
        background: rgba(0,0, 0, 0.1);
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        min-width: 200px;
        height: 100vh;
        overflow: hidden;
     
 }
/*---------------------------------Final -----------------------------------*/

/*--Estilos del contenedor principal--*/
.flex-container{
        background: rgb(241, 241, 241);
        display: flex;
        flex-flow: column nowrap;
        min-width: 300px;  
        width: 95%;         
        
}
/*---------------------------------Final -----------------------------------*/

/* Estilos del header y  titulo Libros */
.flex-item__titulo-principal{
        background: rgb(255, 253, 253);
        text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;
        /*font-size: 1.5em;*/
        color: black;
        display:flex;
        justify-content:space-between;
        align-items: center;      
         
}
/*---------------------------------Final -----------------------------------*/

/*--Estilos del logo mancux2--*/
.estilos_logo{

        opacity: 0.8;
}
.estilos_logo:hover{
         
        opacity: 1;
}
/*---------------------------------Final -----------------------------------*/


/*--SECCION ESTILOS DE LA GALERIA--*/

/*--Contenedor principal que contiene el conjunto de imagenes --*/
.flex-container-galeria{
        background: rgb(241, 241, 241);
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 100vh;
        overflow: auto;
    
      
}       

/*--Contenedor que contiene las imagenes por separado--*/
.flex-galeria-img{
        margin: 5px auto;
        padding: 0;
        background-color: aqua;
        width: 200px;
        height: 350px;

}
/*---------------------------------Final -----------------------------------*/


/*--Estilos que recaen directamente en las imagenes de los libros--*/
.flex-galeria-estilos-img{
       
        width: 100%;
        height: 100%;
        margin: 5px auto;
        object-fit: cover;

}
/*---------------------------------Final -----------------------------------*/     










/*--Seccion de media--*/

@media (max-width: 600px){
        
        *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
        }

        /* Estilos del header y  titulo Libros */
        .flex-item__titulo-principal{
                margin: 0;
                /*background:blue;*/
                height: 40px;
                flex-flow: column wrap;
                justify-content:space-around;
        }
        /*---------------------------------Final -----------------------------------*/
       
        /*--Estilos del logo mancux2--*/
        .estilos_logo{
                width: 20%;
                height: 30px;
                object-fit:scale-down;
                
        }
         /*---------------------------------Final -----------------------------------*/

         /*--Estilos del titulo Libros--*/
         h1{
                     font-size: 20px;
        
         }
         /*---------------------------------Final -----------------------------------*/

        /*--Contenedor que contiene las imagenes por separado--*/
        .flex-galeria-img{
                /*background-color:yellow;*/
                margin: 10px;
                padding: 0;
                width: 100px;
                height: 150px;
        }
        /*---------------------------------Final -----------------------------------*/

        /*--Contenedor principal que contiene el conjunto de imagenes --*/
        .flex-container-galeria{
                /*background-color:green;*/
                justify-content: space-around;
                overflow: auto;
        }
         /*---------------------------------Final -----------------------------------*/

         /*--Estilos que recaen directamente en las imagenes de los libros--*/
        .flex-galeria-estilos-img{
                width: 100%;
                height: 100%;
                margin: 0;
                height: 100%;
                object-fit:scale-down;
        }
}
        
