/* .modos-de-impresion{
    position: absolute;
    top: 100px;
    left: auto;
    width: 40vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
    display: none;
    z-index: 1;
  }

  .contenedor-formato-impresiones{
    display: flex;
    flex-direction:column;
    height: auto;
    width: auto;
    align-items: center;
    align-content: center;
    position: relative;
  }

.estilos-imagenes-formato-de-impresion{
      margin-top:20px;
}

.estilos-imagenes-formato-de-impresion:nth-child(1){
    width: 33%;
    height: 13%;

}
.estilos-imagenes-formato-de-impresion:nth-child(2){
  width: 33%;
  height: 13%;

}
.estilos-imagenes-formato-de-impresion:nth-child(3){
  width: 33%;
  height: 13%;

}
.estilo-ayuda-modos-de-impresion{
  color:rgb(252, 0, 0);
  font-weight: bold;

}

.estilo-ayuda-modos-de-impresion:hover{
  cursor: pointer;
}

.contador-visitas{
  display:none;
}
 */

.contenedorImagenesModosDeImpresion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 30px;
}

.contenedor__imagenes{
    height: 100px;
    width: 100px;
}

 .contenedor__imagenes:hover{
  border-top: 2px solid #41AD40;
   height: 105px;
   width: 105px;
} 

.simpleAfter{
  height: 100px;
  width: 100px;
}

.--active{
    border-top: 2px solid #41AD40;
}

.dobleFazAfter{
  height: 100px;
  width: 100px;
}

.apaisadoAfter{
  height: 100px;
  width: 100px;
}

.TextobottomMododeImpresion{
  margin-left: .6rem;
  
}

@media (max-width:855px){
  .contenedorImagenesModosDeImpresion{
    margin-top: 30px;
    padding-bottom: 2em;
}
}